@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    position: relative;  
    background-color: #f3f7f8;
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: "Rethink Sans", serif;
    font-style: normal;
    height: 100%;
}

main {
    position: relative;
    margin: 0;
    top: 0;
    height: 100%;
    color: #12263a;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: "Ahganirya";
    margin-top: 150px;
}

.slideshow-sec {
    width: 75.5%;
    height: 100vh;
    position: relative;

    .slideshow-column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slideshow-background {
        position: relative;
        background-color: white;
        height: 100%;
        min-height: 450px;
        width: 27.5%;
        padding: 20px;
        border-radius: 50px;
    }

    .slideshow-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-decoration: none;
        position: relative;

        .categories {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-decoration: none;
            color: #12263a;
            display: flex;
            flex-direction: column;
            gap: 10px;
            i {
                font-size: 25px;
                color: #12263a;
            }
        }

        .image {
            width: 90%;
            height: 75%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .arrows {
        color: #12263a;

        .arrow-left, .arrow-right {
            position: absolute;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 100px;

            i {
                font-size: 25px;
            }
        }

        .arrow-left {
            right: 102.5%;
            top: 50%;
        }

        .arrow-right {
            left: 102.5%;
            top: 50%;
        }
    }
}

.overview-skills {
    display: flex;
    width: 73%;
    flex-direction: row;
    justify-content: center;
    gap: 47px;
    margin-top: 130px;
    background-color: white;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;

    .skill {
        p {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            align-items: center;
            font-size: 16px;
        }
    }
}

.about-section {
    width: 100%;
    height: 100%;
    top: 0px;
    min-height: 200vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-background {
    background-color: white;
    width: 70%;
    margin-top: 100px;
    border-radius: 50px;
    height: 100%;
    padding: 50px;
    position: relative;
}

.about-me-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-background, .about-skills, .about-future {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
    margin-left: 50px;
    margin-top: 0px;

    h2 {
        font-size: 30px;
        font-family: "Ahganirya";
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 20px;
    }

    .aboutme-text {
        height: 100%;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: -60px;
        margin-top: 30px;
    
        .line {
            margin-top: -8px;
            width: 4px;
            height: 405px;
            background-color: #d36582;
            z-index: 1;
        }
    
        .dot {
            background-color: #d36582;
            width: 30px;
            height: 30px;
            border-radius: 999px;
            transform: rotate(45deg);
            z-index: 2;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about-background {

    .timeline {    
        .line {
            height: 720px;
        }
    }
}

.about-skills {

    .timeline {    
        .line {
            height: 720px;
        }
    }
}

.contact-me-content {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 100px;
}

.contact-me {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .custom-contact {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: white;
            text-decoration: none;
            background-color: #d36582;
            padding: 10px 20px 10px 20px;
            border-radius: 50px;
            font-size: 45px;
            position: absolute;

            &:hover {
                background-color: #386fce;
                transition: 0.2s;
                box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.382);
            }
        }

        .light-flower {
            position: absolute;
            right: 0;
            left: 56.4%;
            bottom: 49%;
            width: 65px;
            height: 65px;
            rotate: -9.98deg;
            animation: spin 5s linear infinite;
            z-index: 2;
            transition: 0.2s;
        }

        .dark-flower3 {
            position: absolute;
            left: 55.8%;
            bottom: 105.5%;
            width: 15px;
            height: 15px;
            rotate: 74deg;
            animation: spin2 4s linear infinite;
            transition: 0.2s;
        }

        .dark-flower1 {
            position: absolute;
            top: 45%;
            left: 39.5%;
            width: 55px;
            height: 55px;
            rotate: 15.48deg;
            animation: spin 9s linear infinite;
            transition: 0.2s;
        }

        .dark-flower2 {
            position: absolute;
            top: 100%;
            left: 42.5%;
            width: 25px;
            height: 25px;
            rotate: 44.43deg;
            animation: spin2 7s linear infinite;
            transition: 0.2s;
        }

        img {
            width: 25px;
            height: 25px;
            object-fit: contain;
        }
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

  @keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}
