.top-section {
    margin-top: 100px;
    margin-bottom: 15px;
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.top-border {
    width: 80%;
    height: 100%;
    border-radius: 25px;
    position: relative;
}
.top-gallery {
    position: relative;
    width: 100%;
    height: 100%;
}
.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    background-color: white;
    border-radius: 25px;
}
.left {
    gap: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-left {
    gap: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.top-left img {
    object-fit: cover;
    width: 49%;
    height: 100%;
}
.bottom-left {
    width: 100%;
    height: 48.5%;
}
.bottom-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#leftImage {
    border-radius: 25px 0px 0px 0px;
}
#bottomImage {
    border-radius: 0px 0px 0px 25px;
}
.right-image {
    height: 100%;
    width: 50%;
    border-radius: 0px 25px 25px 0px;
}
.right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 25px 25px 0px;
}
.title {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 38.5%;
    transform: translate(-50%);
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 400px;
    text-align: center;
}
.title h1 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.overview-skills {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
h3 {
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: 10px 30px 5px 30px;
    margin-bottom: 0;
    font-size: 45px;
}
.all-skills {
    width: 77%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.skill {
    height: 100%;
    position: relative;
    text-align: center;
}
.skill p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    height: 45px;
    width: 75px;
}
.skill img {
    width: 22.5px;
    height: 22.5px;
    object-fit: contain;
}
.about-section {
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-background {
    background-color: white;
    width: 75%;
    margin-top: 100px;
    border-radius: 50px;
    height: 100%;
    padding: 50px;
    position: relative;
}
.about-me-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-background, 
.about-skills, 
.about-future {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
    margin-left: 50px;
    margin-top: 0px;
}
.about-background h2, 
.about-skills h2, 
.about-future h2 {
    font-size: 55px;
    padding: 0;
    margin: 0;
}
.about-background p, 
.about-skills p, 
.about-future p {
    font-size: 20px;
}
.about-background .aboutme-text, 
.about-skills .aboutme-text, 
.about-future .aboutme-text {
    height: 100%;
}
.about-background .timeline, 
.about-skills .timeline, 
.about-future .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -60px;
    margin-top: 30px;
}
.about-background .timeline .dot, 
.about-skills .timeline .dot, 
.about-future .timeline .dot {
    background-color: #d36582;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    transform: rotate(45deg);
    z-index: 2;
}
.about-background .timeline .dot img, 
.about-skills .timeline .dot img, 
.about-future .timeline .dot img {
    width: 100%;
    height: 100%;
}
.contact-me-content {
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}
.contact-me {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-me .custom-contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-me .custom-contact a {
    color: #12263a;
    text-decoration: none;
    background-color: #FFC0CD;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 35px;
    position: absolute;
}
.contact-me .custom-contact a:hover {
    transition: 0.2s;
    color: white;
    transition: 0.2s;
    background-color: #E4879A;
}
.contact-me .custom-contact .light-flower {
    position: absolute;
    right: 0;
    left: 57.4%;
    bottom: 49%;
    width: 65px;
    height: 65px;
    rotate: -9.98deg;
    animation: spin 5s linear infinite;
    z-index: 2;
    transition: 0.2s;
}
.contact-me .custom-contact .dark-flower1 {
    position: absolute;
    top: 45%;
    left: 36.5%;
    width: 55px;
    height: 55px;
    rotate: 15.48deg;
    animation: spin 9s linear infinite;
    transition: 0.2s;
}
.contact-me .custom-contact .dark-flower2 {
    position: absolute;
    top: 100%;
    left: 41.5%;
    width: 25px;
    height: 25px;
    rotate: 44.43deg;
    animation: spin2 7s linear infinite;
    transition: 0.2s;
}
.contact-me .custom-contact .dark-flower3 {
    position: absolute;
    left: 55.8%;
    bottom: 105.5%;
    width: 15px;
    height: 15px;
    rotate: 74deg;
    animation: spin2 4s linear infinite;
    transition: 0.2s;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}
@media screen and (max-width: 1250px) {
    .contact-me {
        height: 55px;
    }

    .contact-me .custom-contact a {
        font-size: 27px;
    }

    .contact-me .custom-contact .light-flower {
        left: 59%;
        width: 55px;
        height: 55px;
    }

    .contact-me .custom-contact .dark-flower3 {
        left: 57%;
        bottom: 110%;
        width: 12px;
        height: 12px;
    }

    .contact-me .custom-contact .dark-flower1 {
        top: 45%;
        left: 35%;
        width: 45px;
        height: 45px;
    }

    .contact-me .custom-contact .dark-flower2 {
        top: 115%;
        left: 40%;
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 1050px) {
    .contact-me {
        height: 50px;
    }

    .contact-me .custom-contact a {
        font-size: 22px;
    }
}
@media screen and (max-width: 950px) {
    .contact-me .custom-contact .light-flower {
        left: 62%;
    }

    .contact-me .custom-contact .dark-flower3 {
        left: 60%;
    }

    .contact-me .custom-contact .dark-flower1 {
        left: 30%;
    }

    .contact-me .custom-contact .dark-flower2 {
        left: 37%;
    }
}
@media screen and (max-width: 850px) {
    .top-section {
        height: 65vh;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    .top-section .top-border {
        width: 90%;
        height: 100%;
    }

    .top-section .top-border .title {
        width: 250px;
        top: 35%;
    }

    .top-section .top-border .title h1 {
        font-size: 60px;
    }

    .top-section .top-gallery .gallery #leftImage {
        width: 100%;
    }

    .top-section .top-gallery .gallery #imageAway {
        display: none;
    }

    .overview-skills {
        width: 100%;
    }

    .overview-skills .all-skills {
        width: 80%;
        flex-wrap: wrap;
        gap: 40px;
    }

    .overview-skills h3 {
        font-size: 35px;
    }

    .about-section {
        margin-bottom: 50px;
    }

    .white-background {
        width: 90%;
        margin-top: 50px;
    }

    .about-background, 
    .about-skills, 
    .about-future {
        h2 {
            font-size: 35px;
            width: 100%;
        }

        p {
            font-size: 18px;
            width: 90%;
        }
    }

    .about-background .timeline,
    .about-skills .timeline,
    .about-future .timeline {
        margin-top: 25px;
    }

    .about-background .timeline .dot,
    .about-skills .timeline .dot,
    .about-future .timeline .dot {
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 620px) {
    .contact-me .custom-contact .light-flower {
        left: 68%;
    }

    .contact-me .custom-contact .dark-flower3 {
        left: 65%;
    }

    .contact-me .custom-contact .dark-flower1 {
        left: 20%;
    }

    .contact-me .custom-contact .dark-flower2 {
        left: 30%;
    }
}
@media screen and (max-width: 520px) {
    .contact-me .custom-contact a {
        font-size: 20px;
    }

    .contact-me .custom-contact .light-flower {
        left: 64%;
    }

    .contact-me .custom-contact .dark-flower3 {
        left: 61%;
    }

    .contact-me .custom-contact .dark-flower1 {
        left: 27%;
    }

    .contact-me .custom-contact .dark-flower2 {
        left: 35%;
    }
}
@media screen and (max-width: 400px) {
    .about-background, 
    .about-skills, 
    .about-future {
        margin-left: 25px;
    }

    .about-background p,
    .about-skills p,
    .about-future p {
        font-size: 16px;
    }

    .about-background .timeline,
    .about-skills .timeline,
    .about-future .timeline {
        margin-left: 25px;
        margin-top: 15px;
    }

    .contact-me .custom-contact .light-flower {
        left: 72%;
    }

    .contact-me .custom-contact .dark-flower3 {
        left: 68%;
    }

    .contact-me .custom-contact .dark-flower1 {
        left: 14%;
    }

    .contact-me .custom-contact .dark-flower2 {
        left: 27%;
    }

    .about-section {
        margin-bottom: 25px;
    }

    .overview-skills .all-skills {
        gap: 25px;
    }

    .overview-skills h3 {
        font-size: 35px;
    }

    .overview-skills .skill p {
        font-size: 12px;
    }

    .overview-skills .skill img {
        width: 20px;
        height: 20px;
    }
}
