@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: #F3F3F3;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: "Ahganirya";
}

#pageContent {
    transition: filter 0.3s ease;
}

#pageContent.blurred {
    filter: blur(5px);
}