footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-border {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }

    .footer-socials {
        display: flex;
        gap: 20px;

        a {
            font-size: 30px;
            color: #12263a;

            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                transition: 0.2s;
                color: #d36582;
            }
        }
    }

    .footer-links {
        display: flex;
        gap: 40px;

        a {
            font-size: 20px;
            color: #12263a;
            text-decoration: none;

            &:hover {
                transition: 0.2s;
                color: #d36582;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 400px;
    }

    .footer-border .footer-content {
        gap: 40px;
    }

    .footer-links {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 400px) {
    .footer-border .footer-content .footer-socials a {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .footer-border .footer-content .footer-links a {
        font-size: 16px;
    }
}
