header {
    background-color: #f3f3f357;
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #12263a;

    .header-border {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            color: #12263a;
            text-decoration: none;
            font-size: 18px;
        }

        li {
            list-style-type: none;
        }

        .left-side {
            a {
                span {
                    font-weight: 700;
                }

                &:hover {
                    transition: 0.2s;
                    span {
                        transition: 0.2s;
                        color: #E4879A;
                    }
                }
            }
        }

        .middle-side {
            li {
                display: flex;
                flex-direction: row;
                gap: 50px;
                
                a {

                    &:hover {
                        transition: 0.2s;
                        color: #E4879A;
                    }
                }
            }
        }
    
        .right-side {
            a {
                padding: 10px 15px 10px 15px;
                background-color: #FFC0CD;
                font-weight: 600;
                border-radius: 25px;
                &:hover {
                    transition: 0.2s;
                    color: white;
                    background-color: #E4879A;
                }
            }
        }

        .responsive-menu {
            display: none;
        }
    }
}

@media screen and (max-width: 850px){  
    header {
        .header-border {
            width: 100%;
            .left-side, .middle-side {
                display: none;
            }

            .right-side {
              padding: 5px 10px 5px 10px;
              margin-left: 2.5%;  
            }

            .responsive-menu {
                display: flex;
                align-items: end;
                justify-content: end;
                position: relative;
                width: 200px;

                #menuBar, #menuBarHover, #menuClose {
                    font-size: 35px;
                    margin-right: 5%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 0.2s;
                    color: #12263a;
                    z-index: 999;
                }

                #menuBarHover, #menuClose {
                    display: none;
                    transition: 0.5s;
                }

                .responsive-links {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background-color: #FFC0CD;
                    width: 200px;
                    height: 100vh;
                    right: -100%;
                    top: 0;
                    gap: 45px;
                    margin-top: -15px;
                    transform: translateX(0);
                    transition: transform 0.5s ease;

                    .top-link {
                        margin-top: 150px;
                    }

                    a {
                        font-size: 22px;
                        margin-left: 25px;
                    }
                }

                .responsive-links.slide-in {
                    transform: translateX(-100%);
                }
                
                .responsive-links.slide-out {
                    transform: translateX(0);
                }
            }
        }
    } 
}