@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: #F3F3F3;
    overflow-y: scroll;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbox-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100%;

    .profilepic {
        position: absolute;
        top: 34%;
        left: 30%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        padding: 3px;
        border: solid 3px green;
        transition: 0.5s;
    }

    .chatbobbles {
        position: absolute;
        left: 37.5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #12263a;

        .chat-text {
            background-color: white;
            position: relative;
            transition: all 1s ease;
            padding: 5px;
            border-radius: 15px 15px 15px 0px;
            width: 100%;
            animation: typing 1.5s steps(60, end);
    
            p {
                font-size: 20px;
                padding: 5px;
                white-space: nowrap;
                overflow: hidden;
                width: fit-content;
                animation: typing 1.5s steps(60, end);
            }
    
            li {
                display: flex;
                flex-direction: column;
                padding-left: 5px;
                gap: 15px;
                padding-bottom: 15px;
                overflow: hidden;
                white-space: nowrap;
    
                .link1, .link2, .link3 {
                    text-decoration: none;
                    font-size: 18px;
                    color: #12263a;
                    white-space: nowrap;
                    overflow: hidden;
                    width: fit-content;
                    opacity: 0;    
                    animation: typing 3s ease forwards, textFade 0s linear forwards 2s;                              
    
                    &:hover {
                        margin-left: 5px;
                        transition: 0.2s;
                        color: #d36582;
                    }
                }

                .link1 {
                    animation-delay: 2s;
                }
                .link2 {
                    animation-delay: 2.5s;
                }
                .link3 {
                    animation-delay: 3s;
                }
            }

            .bottom-text {
                white-space: nowrap;
                overflow: hidden;
                width: fit-content;
                opacity: 0;    
                animation: typing 1.5s ease forwards, textFade 0s linear forwards 2s;
                animation-delay: 4.5s;
            }
        }

        .chat-text.move-up {
            transform: translateY(-100px);
        }
    }
}

.loader {
    position: absolute;
    margin-top: 50px;
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#F6A5A5 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; 
    }
}

@keyframes textFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.category-section {
    width: 100%;
    height: 100%;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .category-border {
        width: 80%;
        height: 100%;
        min-height: 275px;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 25px;
        font-family: "Ahganirya";
        color: #12263a;
    }

    .categories {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: #12263a;
            margin-top: 30px;

            i {
                margin: 0;
            }

            &:hover {
                transition: 0.2s;
                color: #d36582;
                margin-top: 25px;

                i {
                    margin-bottom: 5px;
                    transition: 0.2s;
                    color: #d36582;
                }
            }
        }
    }
}

.bottom-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;

    .bottom-border {
        background-color: white;
        height: 100%;
        min-height: 100vh;
        padding-bottom: 150px;
        width: 80%;
        border-radius: 25px;
    }
}

.websites {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 25px;
    color: #12263a;
    border-radius: 50px;

    .web1, .web3, .web5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        width: 96%;    
        margin-right: 5%;
        margin-left: 2.5%;

        padding-top: 75px;
        padding-bottom: 100px;
    }

    .web2, .web4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: self-start;
        flex-wrap: wrap-reverse;
        gap: 0px;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;

        margin-left: 1.5%;
        margin-right: 3%;
    }

    .web-text {
        width: 33%;
        min-width: 315px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .web-title {
            h3 {
                font-size: clamp(15px, calc(2.5vw + 0.9vh), 25px);          
                margin: 0;
                padding: 0;
                font-family: "Ahganirya";

                a {
                    color: #12263a;
                    text-decoration: none;
                    border-bottom: solid #12263a 1px;
                    &:hover {
                        transition: 0.2s;
                        color: #d36582;
                        border-bottom: #d36582 solid 1px;
                    }
                }
            }

            span {
                font-style: italic;
                font-size: clamp(15px, calc(2.5vw + 0.9vh), 25px);          
                margin-top: 5px;
                margin-left: 5px;
            }
        }

        .textbox {

            color: #12263a;
            margin-top: 25px;
            font-size: clamp(10px, calc(2.5vw + 0.9vh), 17px);          
            margin-bottom: 0px;

            span {
                margin-right: 5px;
                font-weight: bold;
            }

            .web-redirec1 {    
                margin-top: 45px;

                p {
                    margin-bottom: 20px;
                }

                .web-links {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    i {
                        margin-right: 0.5%;
                    }
                }
            }
        }

    }

    .slideshow-elements {

        width: 62.5%;
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .slideshow-main {

            position: relative;
            margin-bottom: 20px;
            width: 91%;
            height: 100%;
            max-height: 500px;
            left: 0;

            transition: opacity 0.25s ease-in-out;
            opacity: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: white;
            box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
            border-radius: 2.5px;

            img {
                width: 99%;
                height: 100%;
                max-height: 490px;
                overflow-x: hidden;
                overflow-y: scroll;

                display: block;

                object-position: top;

                z-index: 100;

                object-fit: cover;
                object-position: top;
                margin: 0px;
                padding: 5px;

                &:hover {
                    cursor: zoom-in;
                    overflow-y: scroll;
                }
            }

            .arrows {
                position: absolute;
                top: 50%;
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 10;

                .left, .right {
                    position: absolute;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-color: rgb(255, 255, 255);
                        font-size: clamp(10px, calc(2.5vw + 0.9vh), 25px);          
                        height: 30px;
                        width: 30px;
                        border-radius: 99px;
                        cursor: pointer;
                        box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                        color: #12263a;

                        &:hover {
                            transition: 0.2s;
                            cursor: pointer;
                            color: #d36582;
                        }
                    }
                }

                .left {
                    right: 101%;
                }

                .right {
                    left: 101%;
                }
            }

            .desc {
                top: 95%;
                bottom: 0;
                position: absolute;
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                margin-top: 0px;
                border-radius: 0px 0px 99px 99px;
                text-align: center;

                p {
                    width: 200px;
                    height: 27.5px;
                    padding-top: 2.5px;
                    background-color: white;
                    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                    font-size: clamp(7px, calc(2.5vw + 0.9vh), 15px);          

                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 0px 99px 99px;
                }

            }

            .progress {
                display: block;
                z-index: 101;
                top: 0;
                left: 0;
                position: absolute;
                background-color: white;
                font-size: 15px;
                padding-left: 5px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-top: 5px;
                border-radius: 5px 0px 25px 0px;
                box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
            }

        }

        .slideshow-images {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
            width: 90%;
            max-height: 500px;

            transition: transform 0.25s ease;

            .slideshow-image {
                cursor: pointer;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fdfff4;
                box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                padding: 2.5px;
                border-radius: 5px;
                

                img {
                    width: 100%;
                    max-height: 125px;
                    border-radius: 2.5px;
                    object-fit: cover;
                    object-position: top;
                }

                .desc {
                    display: none;
                }
            }
        }
    }

}

.zoomed-image-container {
    
    .zoomed-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        max-width: 87%;
        max-height: 90%;
        border: 5px solid white;
        box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
        cursor: zoom-out;
        border-radius: 5px;
    
        object-fit: contain;
        margin-bottom: 0px;
        padding-bottom: 0px;
        z-index: 9;
    }

    .arrows {
        position: absolute;
        width: 95%;
        top: 47%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: none;

        .left, .right {
            pointer-events: all;

            i {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgb(255, 255, 255);
                font-size: clamp(10px, calc(2.5vw + 0.9vh), 25px);          
                height: 30px;
                width: 30px;
                border-radius: 99px;
                cursor: pointer;
                box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);

                &:hover {
                    transition: 0.2s;
                    cursor: pointer;
                    color: #d36582;
                }
            }
        }
    }

    .desc {

        padding-top: 0px;
        width: 100%;
        padding-top: 50px;

        display: flex;
        justify-content: center;
        padding-top: 0px;
        margin-top: 0px;
        border-radius: 99px 99px 99px 99px;
        text-align: center;
        z-index: 3;

        p {
            width: 200px;
            height: 25px;
            background-color: white;
            box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
            font-size: clamp(7px, calc(2.5vw + 0.9vh), 15px);          

            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 99px 99px 99px 99px;
        }

    }
}
