.top-section {
    margin-top: 100px;
    margin-bottom: 0px;
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.top-border {
    width: 80%;
    height: 100%;
    border-radius: 25px;
    position: relative;
}
.top-image {
    width: 100%;
    height: 100%;
    background-color: rgb(84, 56, 65);
    border-radius: 25px;
}
.top-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 25px;
    opacity: 50%;
}
.titles {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 35%;
    transform: translate(-50%);

    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 450px;
    text-align: center;
}
.titles h1 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.titles h2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.category-section {
    width: 100%;
    height: 100%;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.category-border {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-border h3 {
    background-color: white;
    border-radius: 25px 25px 0px 0px;
    padding: 10px 30px 5px 30px;
    margin-bottom: 0;
    font-size: 50px;
}
.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    padding-bottom: 25px;
}
.categories a {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #12263a;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.categories a img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0;
}
.categories a:hover {
    transition: 0.2s;
    color: #E4879A;
    margin-top: 25px;
}
.categories a:hover img {
    margin-bottom: 5px;
    transition: 0.2s;
}
.bottom-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    scroll-behavior: smooth;
}
.bottom-border {
    background-color: white;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 150px;
    padding-top: 50px;
    width: 80%;
    border-radius: 25px;
}
.websites {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 25px;
    color: #12263a;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.web1, .web3, .web5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 96%;    
    margin-right: 5%;
    margin-left: 2.5%;
}
.web2, .web4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap-reverse;
    gap: 0px;
    width: 96%;
    margin-left: 1.5%;
    margin-right: 3%;
}
.web-text {
    width: 33%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.web-title h3 {
    margin: 0;
    padding: 0;
}
.web-title h3 a {
    color: #12263a;
    text-decoration: none;
    border-bottom: solid #12263a 1px;
    font-size: 45px; 
}
.web-title h3 a:hover {
    transition: 0.2s;
    color: #d36582;
    border-bottom: #d36582 solid 1px;
}
.web-title span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;          
    margin-top: 5px;
    margin-left: 5px;
}
.textbox span {
    margin-right: 5px;
    font-weight: bold;
}
.web-redirec1 {
    margin-top: 45px;
}
.web-redirec1 p {
    margin-bottom: 20px;
}
.web-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    word-break: break-all;
}
.web-links i {
    margin-right: 7.5px;
}
.web-links img {
    width: 15px;
    height: 15px;
    margin-right: 7.5px;
}
.slideshow-elements {
    width: 60%;
    min-width: 315px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slideshow-main {
    position: relative;
    margin-bottom: 20px;
    width: 91%;
    height: 100%;
    max-height: 500px;
    left: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    border-radius: 2.5px;
}
.slideshow-main img {
    width: 99%;
    height: 100%;
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    object-position: top;
    z-index: 100;
    object-fit: cover;
    object-position: top;
    margin: 0px;
    padding: 5px;
}
.slideshow-main img:hover {
    cursor: zoom-in;
    overflow-y: scroll;
}
.slideshow-main .arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}
.left, .right {
    position: absolute;
}
.left i, .right i {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    font-size: clamp(10px, calc(2.5vw + 0.9vh), 25px);          
    height: 30px;
    width: 30px;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    color: #12263a;
}
.left i:hover, .right i:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #d36582;
}
.left {
    right: 101%;
}
.right {
    left: 101%;
}
.slideshow-main .desc {
    top: 95%;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 99px 99px;
    text-align: center;
}
.slideshow-main .desc p {
    width: 200px;
    height: 27.5px;
    padding-top: 2.5px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    font-size: 16px;          
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 99px 99px;
}
.slideshow-main .progress {
    display: block;
    z-index: 101;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 5px 0px 25px 0px;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
}
.slideshow-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    width: 90%;
    max-height: 500px;
    transition: transform 0.25s ease;
}
.slideshow-image {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfff4;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    padding: 2.5px;
    border-radius: 5px;
}
.slideshow-image img {
    width: 100%;
    max-height: 125px;
    border-radius: 2.5px;
    object-fit: cover;
    object-position: top;
}
.slideshow-image .desc {
    display: none;
}
.end-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
}
.zoomed-image-container {
    position: relative;
}
.zoomed-image-container .zoomed-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.zoomed-image-container img {
    max-width: 87%;
    max-height: 90%;
    border: 5px solid white;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    cursor: zoom-out;
    border-radius: 5px;
    object-fit: contain;
    margin-bottom: 0px;
    padding-bottom: 0px;
    z-index: 9;
}
.zoomed-image-container .arrows {
    position: absolute;
    width: 90%;
    top: 47%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;
}
.zoomed-image-container .arrows .left,
.zoomed-image-container .arrows .right {
    pointer-events: all;
}
.zoomed-image-container .arrows .left i,
.zoomed-image-container .arrows .right i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: clamp(10px, calc(2.5vw + 0.9vh), 25px);          
    height: 30px;
    width: 30px;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
}
.zoomed-image-container .arrows .left i:hover,
.zoomed-image-container .arrows .right i:hover {
    transition: 0.2s;
    color: #d36582;
}
.zoomed-image-container .desc {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border-radius: 99px;
    text-align: center;
    z-index: 3;
}
.zoomed-image-container .desc p {
    width: 200px;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    font-size: 18px;          
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
}
@media screen and (max-width: 1350px) {
    .websites {  
        .web1, .web2, .web3, .web4, .web5 {
            flex-wrap: nowrap;
            width: 92.5%;
        }

        .web2, .web4 {
            gap: 50px;
            margin-left: 5%;
        }

        .web-text {
            width: 35%;
            min-width: 355px;
        }

        .slideshow-elements {
            width: 55%;
        }
    
    }
}
@media screen and (max-width: 1100px) {
    .category-section {
        margin-bottom: 50px;
    }

    .category-section .categories h3 {
        font-size: 25px;
    }

    .category-section .categories a {
        font-size: 14px;
    }

    .category-section .categories a img {
        height: 20px;
        width: 20px;
    }

    .websites {
        width: 100%;
    }

    .websites .web1,
    .websites .web3,
    .websites .web5 {
        flex-direction: column;
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .websites .web2,
    .websites .web4 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 20px;
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .websites .web-text {
        width: 95%;
        margin-left: 3%;
    }

    .websites .slideshow-elements {
        width: 100%;
    }

    .websites .slideshow-elements .slideshow-main {
        width: 90%;
    }
}
@media screen and (max-width: 850px) {
    .top-section {
        height: 70vh;
    }

    .top-section .top-border {
        width: 90%;
    }

    .top-section .top-border .titles {
        width: 300px;
    }

    .top-section .top-border .titles h1 {
        font-size: 60px;
    }

    .top-section .top-border .titles h2 {
        font-size: 20px;
    }

    .bottom-section .bottom-border {
        padding-bottom: 50px;
        width: 100%;
    }

    .websites {
        width: 100%;
    }

    .websites .web1, .websites .web3, .websites .web5 {
        flex-direction: column;
        width: 95%;    
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .websites .web2, .websites .web4 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 20px;
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .websites .web-text {
        width: 90%;  
        margin-left: 3%;
    }

    .websites .end-text {
        font-size: 18px;
    }

    .zoomed-image-container img {
        max-width: 80%;
    }

    .zoomed-image-container .arrows {
        width: 85%;
    }

    .category-border {
        width: 90%;
    }
}
@media screen and (max-width: 660px) {
    .category-section {
        margin-bottom: 0px;
    }

    .category-section .category-border {
        min-height: 300px;
        padding-bottom: 40px;
    }

    .category-section h3 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 35px;
    }

    .category-section .categories {
        flex-direction: column;
    }

    .zoomed-image-container img {
        max-width: 95%;
    }

    .zoomed-image-container .arrows {
        display: none;
    }

    .websites .slideshow-elements .slideshow-main .arrows {
        display: none;
    }

    .slideshow-images {
        display: none;
    }

    .websites .slideshow-elements .slideshow-main {
        width: 95%;
    }
}
@media screen and (max-width: 475px) {
    .top-section {
        height: 60vh;
        margin-top: 75px;
    }

    .top-section .top-border .titles {
        width: 250px;
    }

    .top-section .top-border .titles h1 {
        font-size: 45px;
    }

    .top-section .top-border .titles h2 {
        font-size: 15px;
    }

    .bottom-border {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .websites {
        gap: 75px;
    }

    .websites .slideshow-elements .slideshow-main .desc {
        top: 90%;
    }

    .websites .slideshow-elements .slideshow-main .desc p {
        font-size: 14px;
        width: 175px;
    }

    .websites .web-text {
        width: 70%;
    }

    .websites .web-text .web-title h3 a {
        font-size: 35px;
    }

    .websites .web-text .web-title span {
        font-size: 18px;
    }

}
@media screen and (max-width: 375px) {
    .websites .web-text .web-title h3 a {
        font-size: 35px;
    }

    .websites .web-text .web-title span {
        font-size: 18px;
    }

    .websites .web-text .textbox {
        width: 90%;
    }
}


